@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

:root {
    --galactic-blue: hsl(252, 66%, 62%);
    --summer-yellow: hsl(28, 89%, 67%);
    --pink: hsl(0, 78%, 79%);
    --light-red: hsl(7, 77%, 66%);
    --cyan: hsl(172, 46%, 57%);
    --dark-purple: hsl(314, 45%, 23%);
    --black: hsl(0, 0%, 1%);
    --medium-brown: hsl(30, 5%, 45%);
    --light-cream: hsl(28, 100%, 97%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

body {
    background-color: var(--light-cream);
    overflow-x: hidden;
}

.wrapper-container {
    max-width: 1110px;
    width: 90%;
    margin: auto;

    @media only screen and (max-width: 600px) {
        width: 95%;
    }
}

.fc-button {
    padding: 1rem 2.5rem;
    border-radius: 2.5rem;
    border: none;
}

.fc-button>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-footer__list .fc-button,
.ic__nb {
    background-color: var(--black);
}

.nav-footer__list .fc-button:hover,
.ic__nb:hover {
    background-color: var(--galactic-blue);
}

.booking-section .fc-button,
.creator-info-section .fc-button {
    background-color: var(--light-red);
}

.booking-section .fc-button:hover,
.creator-info-section .fc-button:hover {
    background-color: var(--summer-yellow);
}

.nav-footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dts__heading {
    text-align: center;
    font-size: 3.5rem;
    line-height: 1.25em;
    margin-top: 2rem;
}

.dts__content {
    text-align: center;
    color: var(--medium-brown);
    font-size: 1.125rem;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-width: 700px;
}

.dts__tiles {
    display: grid;
    grid-template-areas:
        "gd gd ux app ph ph"
        "gd gd ill ill mg mg";
    grid-auto-rows: 150px;
    gap: 0.75rem;
    color: white;
    font-weight: 700;
}

.dts__tile {
    display: grid;
    align-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
}

.dts__tile>img {
    justify-self: right;
}

.dts__tile--gd {
    grid-area: gd;
    background-color: var(--galactic-blue);
}

.dts__tile--ux {
    grid-area: ux;
    background-color: var(--summer-yellow);
}

.dts__tile--app {
    grid-area: app;
    background-color: var(--pink);
}

.dts__tile--ph {
    grid-area: ph;
    background-color: var(--cyan);
}

.dts__tile--ill {
    grid-area: ill;
    background-color: var(--light-red);
}

.dts__tile--mg {
    grid-area: mg;
    background-color: var(--dark-purple);
}

.creator-info-section {
    display: flex;
    gap: 4rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.creator-info-section>img {
    width: 445px;
}

.creator-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: start;
}

.ci__heading {
    font-size: 2.5rem;
    line-height: 1em;

    @media only screen and (max-width: 950px) {
        font-size: 1.5rem;
    }

}

.ci__content {
    color: var(--medium-brown);
    font-size: 1.125rem;
    line-height: 1.5em;
}

.image-carousel {
    margin-bottom: 4rem;
}

.ic__heading {
    text-align: center;
}

.ic__slider {
    --slider-index: 2;
    --image-width: 540px;
    --img-padding: 8px;
    display: flex;
    width: calc(var(--image-width) + 2 * var(--img-padding));
    margin: auto;
    transform: translateX(calc(-1 * var(--image-width) * var(--slider-index)));
    transition: transform ease-in 250ms;

    @media only screen and (max-width: 600px) {
        --image-width: 270px;
    }
}

.ic__slider>img {
    flex-shrink: 0;
    flex-basis: var(--image-width);
    max-width: var(--image-width);
    padding: var(--img-padding);
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.ic__nav-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.ic__nb {
    border-radius: 50%;
    border: none;
    padding: 0.5rem 0.75rem;
}

.booking-section {
    background-color: var(--black);
    color: white;
    padding: 4rem;
    display: grid;
    row-gap: 1.5rem;
    grid-template-areas:
    "heading button"
    "content button";
}

.bs__heading {
    grid-area: heading;

}
.bs__content {
    grid-area: content;
    max-width: 540px;
}
.fc-button{
    grid-area: button;
    align-self: center;
    justify-self: center;
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 950px) {
    .creator-info-section {
        gap: 2rem
    }

    .ci__heading {
        font-size: 1.5rem;
    }

    .ci__content {
        font-size: 1rem;
        line-height: 1.25em;
    }
}

@media only screen and (max-width: 800px) {
    .dts__tiles {
        grid-template-areas:
            "gd gd ux app"
            "gd gd ill ill"
            "ph ph mg mg";
    }

    .dts__heading {
        font-size: 2.5rem;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .dts__content {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .creator-info-section {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .creator-info-section>img {
        width: 364px;
    }

    .creator-info {
        gap: 1rem;
    }


}

@media only screen and (max-width: 650px) {
    .creator-info-section {
        grid-template-columns: auto;
        text-align: center;
    }

    .creator-info-section>img {
        width: 300px;
        justify-self: center;
    }

    .booking-section {
        grid-template-areas:
        "heading"
        "content"
        "button";
        text-align: center;
    }

}

@media only screen and (max-width: 550px) {
    .creator-info-section {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .nav-footer__logo>img {
        width: 48px;
    }

    .fc-button {
        padding: 0.5rem 1.5rem;
        border-radius: 2.5rem;
        border: none;
    }

    .dts__tiles {
        grid-template-areas:
            "gd gd"
            "gd gd"
            "ux app"
            "ill ill"
            "ph ph"
            "mg mg";
    }

    .dts__heading {
        font-size: 2rem;
    }

    .booking-section {
        padding: 2.5rem;
    }
}